@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: generalBold;
  src: url("../../public/fonts/GeneralSans-Bold.otf");
}
@font-face {
  font-family: generalMedium;
  src: url("../../public/fonts/GeneralSans-Medium.otf");
}
@font-face {
  font-family: generalRagular;
  src: url("../../public/fonts/GeneralSans-Regular.otf");
}
@font-face {
  font-family: generalSemibold;
  src: url("../../public/fonts/GeneralSans-Semibold.otf");
}

body {
  background: white;
  font-family: generalRagular;
}

.ff_general_semibold {
  font-family: generalSemibold;
}
.ff_general_medium {
  font-family: generalMedium;
}
.ff_general_bold {
  font-family: generalBold;
}

.bg_liner_section {
  background: linear-gradient(155deg, #eef2ff, #fff 50%, #fafafa);
}

.div {
  background-image: linear-gradient(225deg, #fff0, #fff),
    linear-gradient(90deg, #facc15, #f59e0b);
  position: relative;
}

.box {
  pointer-events: none;
  -webkit-mix-blend-mode: soft-light; 
  mix-blend-mode: soft-light;
  background-image: url("../../public/images/png/started-img.png");
  background-position: 50%;
  background-size: cover;
  position: absolute;
  inset: 0%;
  z-index: 90;
}

/* aos animation */

.animate-top {
  transform: translateY(-30px); /* Moves object 100px from its initial position */
  opacity: 0;
}
.animate-bottom {
  transform: translateY(30px); /* Moves object 100px from its initial position */
  opacity: 0;
}

/* AOS-triggered animation */
[data-aos="fade-right"].aos-animate,
[data-aos="fade-left"].aos-animate {
  transform: translateX(0); /* Reset position */
  opacity: 1;
}