@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: generalBold;
  src: url('../../public/fonts/GeneralSans-Bold.otf');
}
@font-face {
  font-family: generalMedium;
  src: url('../../public/fonts/GeneralSans-Medium.otf');
}
@font-face {
  font-family: generalRagular;
  src: url('../../public/fonts/GeneralSans-Regular.otf');
}
@font-face {
  font-family: generalSemibold;
  src: url('../../public/fonts/GeneralSans-Semibold.otf');
}

body {
 
  background:white ;
  font-family: generalRagular;
}

.ff_general_semibold{
  font-family: generalSemibold;
}
.ff_general_medium{
  font-family: generalMedium;
}
.ff_general_bold{
  font-family: generalBold;
}
